<app-header></app-header>

<div class="login-container">
  <mat-card class="login-card">

    <mat-card-header>
      <mat-card-title>Entrar</mat-card-title>
      <mat-card-subtitle>
        Acesse suas tarefas domésticas
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form class="form">

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <label>
            <input id="email_field" matInput type="email" />
          </label>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <label>
            <input id="password_field" matInput type="password" />
          </label>
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          class="login-button"
        >
          Entrar
        </button>

        <div class="divider">
          <span>ou</span>
        </div>

        <div class="google-login">
          <div id="googleBtn"></div>
        </div>

        <div class="register-link">
          Não tem conta?
          <a routerLink="/register">Criar agora</a>
        </div>

      </form>
    </mat-card-content>

  </mat-card>
</div>
